/* ## Typography
### Body Copy
- Font size: 15px / 0.9375em

### Font
- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 400, 500, 700
 */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
/* font-family: 0.9375em/1.2 'League Spartan', sans-serif; */

:root {
    --Magenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);
    --DarkGray: hsl(303, 10%, 53%);
    --LightGray: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
    --400: 400 1rem/1.5 'League Spartan', sans-serif;
    --400d: 400 1.2rem/1.5 'League Spartan', sans-serif;
    --500: 500 1rem/1.5 'League Spartan', sans-serif;
    --600: 700 1rem/1.2 'League Spartan', sans-serif;
    --600d: 700 1.2rem/1.2 'League Spartan', sans-serif;
    --700: 700 2.4rem/.8 'League Spartan', sans-serif;
    --700d: 700 3.5rem/.8 'League Spartan', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: url('../images/bg-pattern-top-mobile.svg') top 0 left 0/45vmax no-repeat,
                url('../images/bg-pattern-bottom-mobile.svg')  top 75vh left 0/100vmax no-repeat var(--White);
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    min-width: 20em;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

.top-content, .ratings-stack {
    color: var(--Magenta);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.top-content {
    gap: 2em;
}

.hero {
    display: flex; 
    flex-direction: column; 
    gap: 2em; 
}

h1 {
    font: var(--700);
    text-align: center;
}

.hero-content {
    font: var(--400);
    color: var(--DarkGray);
    text-align: center;
}

.rating {
    font: var(--600);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2em;
    background-color: var(--LightGray);
    border-radius: .5em;
    padding: .8em;
}

.bottom-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.testimonial {
    background-color: var(--Magenta);
    border-radius: .5em;
    padding-top: 2.5em;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-bottom: 2em;
    color: var(--LightGray);
    font: var(--400);
    display: flex;
    flex-flow: column nowrap;
    gap: 1.6em;
}

.buyer {
    display: flex;
    gap: 1.4em;
}

.buyer img {
    border-radius: 50%;
    width: 2.5em;
}

.name {
    font: var(--600);
}

.verified {
    font: var(--400);
    color: var(--SoftPink);
}

@media only screen and (min-width: 900px) {
    body {
        background: url('../images/bg-pattern-top-desktop.svg') top 0 left 0/45vmax no-repeat,
        url('../images/bg-pattern-bottom-desktop.svg')  bottom -3vh right 0/75vmax no-repeat var(--White);
    }

    .wrapper {
        min-width: 80vw;
        min-height: 75vh;
        justify-content: space-between;
        align-items: center;
    }

    .top-content, .bottom-content, .rating {flex-direction: row;}
    .top-content, .bottom-content {
        width: 100%;
        margin-top: 5vh;
        margin-bottom: auto;
        justify-content: space-between;
    }
    
    .hero {max-width: 31vw;}
    h1, .hero-content {text-align: left; padding: 0;}
    h1 {font: var(--700d);}
    .hero-content {font:var(--400d);}
    .ratings-stack {gap:1.5em; justify-content: center; align-items: flex-start; min-width: 35vw;}
    .rating {gap: 2em; padding: 1.25em 2em; min-width: 28vw;}
    .rating2 {align-self: center;}
    .rating3 {align-self: flex-end;}

    .bottom-content {min-height: 35vh;}
    .testimonial {font: var(--500); height:100%; width: 100%; max-width: 22em; min-height: 16em;}
    .testimonial2 {align-self: center;}
    .testimonial3 {align-self: flex-end;}
}