/* ## Typography
### Body Copy
- Font size: 15px / 0.9375em

### Font
- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 400, 500, 700
 */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
/* font-family: 0.9375em/1.2 'League Spartan', sans-serif; */

:root {
    --Magenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);
    --DarkGray: hsl(303, 10%, 53%);
    --LightGray: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
    --400: 400 0.9375em/1.5 'League Spartan', sans-serif;
    --500: 500 0.9375em/1.2 'League Spartan', sans-serif;
    --600: 700 0.9375em/1.2 'League Spartan', sans-serif;
    --700: 700 2em/.8 'League Spartan', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* height: 100%; */
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    min-width: 19em;
    max-width: 19em;

    /* This section is unneeded but can be used for responsive */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

.top-content, .hero, .ratings-stack {
    color: var(--Magenta);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* .hero {} */

h1 {
    font: var(--700);
    padding-left: 15%;
    padding-right: 15%;
}

.hero-content {
    font: var(--400);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: 1em;
}

.ratings-stack {
    font: var(--600);
    
}

.rating {
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: var(--LightGray);
    border-radius: .5em;
    padding: 1em;
}

/* .bottom-content {} */

/* .testimonial {} */

.buyer {
    display: flex;
    gap: 1em;
}

.buyer img {
    border-radius: 50%;
    width: 3.5em;
    object-fit: scale-down;
}